.toptabs{
    font-family: 'Raleway', sans-serif;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#toptrial{
    width: 50%
}
body{
    background: gray;
    font-family: 'Raleway', sans-serif;
    margin: 20% 30% 5% 30%;
}
#terms{
}
#wtf{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: darkslategray;
}
#lunch{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#thisform{
    background: white;
}
#brat{
    font-size: 16pt;
    margin-right: 10px;
    margin-left: 10px;
}
